.alert-error {
  color: red;
  background-color: pink;
  padding: 2vh;
}

.banner {
  background-color: blue;
  color: white;
  padding: 3%;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  font-weight: bolder;
  border-style: groove;
  list-style-type: none;
  display: inline-block;
  margin: auto;
  padding: 1.5vw;
  margin-left: 0;
}
